
.ms-fs-1 {
  font-size: 4rem;
}
.ms-fs-2 {
  font-size: 3rem;
}
.ms-fs-3 {
  font-size: 2.25rem;
}
.ms-fs-4 {
  font-size: 1.75rem;
}
.ms-fs-5 {
  font-size: 1.5rem;
}
.ms-fs-6 {
  font-size: 1rem;
}
.z-index-1{
  z-index: 1;
}