$colors: (
  primary: #0dbbfc,
  secondary: #65e4a3,
  color-1: #f1f1f1,
  color-2: #0a2640,
  color-3: #8fb6d5,
  color-4: #ffffff,
  color-5: #777777,
  color-6: #e5e5e5,
);
$break-points:(
  md:1300px
)