@import "../theme/variables";


.ms-section-1 {
  background-color: map-get($colors, "color-2");
  padding-top: 2.625rem;
  padding-left: 6.25rem;
  padding-right: 6.25rem;
  position: relative;
  overflow: hidden;
  .bg-cycle {
    position: absolute;
    width:  80rem;
    height: 80rem;
    right: -40.8rem;
    top: -49.3125rem;
    z-index: 0;
    background: #1c3d5b;
    border-radius: 50%;
  }
  .ms-hero-section {
    position: relative;
    margin-top: 4rem;
    display: flex;
    z-index: 1;
    div:nth-child(1) {
      flex: 1;
      color: map-get($colors, "color-1");
      h2 {
        line-height: 72px;
        font-weight: 400;
        margin-bottom: 1rem;
        font-size: 3rem;
      }
      p {
        font-style: normal;
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.75rem;
      }
      .ms-buttons {
        display: flex;
        gap: 1.5rem;
        .ms-buy-template {
          padding: 16px 56px;
          text-decoration: none;
          border-radius: 56px;
          font-weight: 700;
        }
        .ms-explore {
          padding: 16px 56px;
          text-decoration: none;
          border-radius: 56px;
          font-weight: 700;
        }
        a {
          border: 2px solid map-get($colors, "color-4");
          color: map-get($colors, "color-4");
          background-color: transparent;
          &:hover {
            background: #65e4a3;
            color: map-get($colors, "color-2");
            border: 2px solid #69e6a6;
          }
        }
      }
    }
    div:nth-child(2) {
      & > img {
        margin-bottom: 46px;
      }
      div:nth-child(2) {
        display: flex;
        gap: 2.4156rem;
      }
    }
  }

  .ms-logos-slider {
    margin-bottom: 3.7rem;
    padding: 2.0625rem 1.625rem .75rem 1.625rem;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-right: .875rem;
    margin-left: .875rem;
    .ms-shadow {
      position: absolute;
      top: 0;
      height: 100%;
      z-index: 2;
      border-radius: 50%;
      &.ms-left {
        left: -20px;
        width: 180px;
        background: linear-gradient(
          to right,
          rgba($color: map-get($colors, "color-2"), $alpha: 1),
          rgba($color: map-get($colors, "color-2"), $alpha: 0.05)
        );
      }
      &.ms-right {
        right: -20px;
        width: 300px;
        background: linear-gradient(
          to left,
          rgba($color: map-get($colors, "color-2"), $alpha: 1),
          rgba($color: map-get($colors, "color-2"), $alpha: 0.05)
        );
      }
    }
  }
}
